body {
  background-color: #000;
  color: #fff;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.form-container {
  background: #fff;
  color: #000;
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
