# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Production builds
build/
client/build/
dist/
server/dist/

# Environment files
.env
server/.env

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
